<h1>Help</h1>


<p> Check the README at the GitHub repository: <%= link_to 'dosh', 'https://github.com/lheim/dosh', :target => '_blank' %>
<p> Otherwise feel free to contact me: <a href="mailto:lennart.heim@rwth-aachen.de?Subject=dosh web app" target="_top">mail</a>.
I'm looking forward to publish my bachelor thesis along this web app for further explanation and usage tips.</p>
